#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button{
  height: 20rem;
}

.botonEmpleados{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.empleados{
  display: flex;
  flex-direction: column;
}

.dataEmpleado{
  display: flex;
  flex-direction: row;
  height: 2rem;
  gap: 1rem;
}


